--
-- PostgreSQL database dump
--

\restrict E0fMsMVXKNjMBNiStof8fyVWwQECqIlrWDifMVQTOXgEX4sR54OBi9M8OwJezaJ

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: produto; Type: TABLE; Schema: public; Owner: marcelopostgresuser
--

CREATE TABLE public.produto (
    id integer NOT NULL,
    nome character varying(50) NOT NULL,
    quantidade integer NOT NULL
);


ALTER TABLE public.produto OWNER TO marcelopostgresuser;

--
-- Name: produto_id_seq; Type: SEQUENCE; Schema: public; Owner: marcelopostgresuser
--

CREATE SEQUENCE public.produto_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.produto_id_seq OWNER TO marcelopostgresuser;

--
-- Name: produto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: marcelopostgresuser
--

ALTER SEQUENCE public.produto_id_seq OWNED BY public.produto.id;


--
-- Name: produto id; Type: DEFAULT; Schema: public; Owner: marcelopostgresuser
--

ALTER TABLE ONLY public.produto ALTER COLUMN id SET DEFAULT nextval('public.produto_id_seq'::regclass);


--
-- Data for Name: produto; Type: TABLE DATA; Schema: public; Owner: marcelopostgresuser
--

COPY public.produto (id, nome, quantidade) FROM stdin;
2	condicionador	3
15	ovo caipira	36
4	parmesao	1
14	laranja bahia	3
17	banana prata	12
\.


--
-- Name: produto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: marcelopostgresuser
--

SELECT pg_catalog.setval('public.produto_id_seq', 18, true);


--
-- Name: produto produto_pkey; Type: CONSTRAINT; Schema: public; Owner: marcelopostgresuser
--

ALTER TABLE ONLY public.produto
    ADD CONSTRAINT produto_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict E0fMsMVXKNjMBNiStof8fyVWwQECqIlrWDifMVQTOXgEX4sR54OBi9M8OwJezaJ

